<div id="divLogin" class="container">
    <div class="form-signin">
        <form id="frmLogin" method="post" asp-controller="Profile" asp-action="Login">
            @Html.AntiForgeryToken()
            <h1>Login to Your Account</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="txtemail" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="txtpassword" name="password" class="form-control" placeholder="Password" required="">
            <div class="checkbox">
                <label><input type="checkbox" name="rememberme" value="True"> Remember me</label>
            </div>
            <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>
<a asp-action="Register" asp-controller="Profile">Register if new user</a>
@section Scripts{

}